.col-sm-6 {
  margin-left: 15px;
}

.btn {
  float:left;
}

.btn-warning {
  margin-left: 20px;
}

.set {
  margin-top:80px;
}

#setting{
  margin-left:70px; 
  margin-top:-5px;
  margin-bottom:20px;
}

.h4{
  margin-bottom:20px;
}