.group-body {
	background-color:#c0c0c0;
}

#sportslover {
	margin-top: -25px;
}

#sportslover-color {
	color:white;
}

.titles {
	margin-right:-40px;
}

.search {
	background: rgba(255,255,255, 0.8);
	margin-top:10px; 
}

.header-filter {
	background-image:url('/static/sportslover/img/sportslover.jpg');
	height:20%;
}

.main-raised {
	margin-top:-150px;
}

.col-md-2 {
	float:left;
}

.fixed-session {
	margin-left:-30px;
}

.sublist {
	display:none;
}

#table-create {
	float:left; 
	margin-top:-30px; 
	width:80%;
	margin-bottom:-50px;
}

.post-info {
	font-size:80%;
}

.tfoot-search {
	font-weight: normal;
}

#check_login {
	display:none;
}

.hand {
	cursor:pointer;
}

.yellow {
	color:yellow;
}

#accept {
	float:right; 
	margin-right:20px;
}

#new1 {
	display:inline;
}

#new2 {
	display:none;
}

#classsports {
	display: none;
}

#itemsport {
	display: none;
}

#searchform {
	display: none;
}

#latest_time{
	display:none;
}