{% extends "full_base.html" %}
{% block title %}SportsLover Groups{% endblock %}
{% block head %}
<link href="/static/sportslover/css/group.css" rel="stylesheet"/>
<script src="/static/assets/javascripts/jquery/jquery.js"></script>
<script src="/static/sportslover/js/group.js" type="text/javascript"></script>
{% endblock %}
{% block content %}
<body class="group-body">
    <nav class="navbar navbar-transparent navbar-absolute">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" id="sportslover" href="{% url 'search' %}"><h2 id="sportslover-color"><b>SportsLover</b></h2></a>
            </div>
            <div class="collapse navbar-collapse" id="navigation-index">
                <ul class="nav navbar-nav navbar-right titles">
                    <li>
                        <a href="{% url 'place' %}">
                            <i class="material-icons">directions_run</i> Sports Places
                        </a>
                    </li>
                    <input id="check_login" value="{{user}}"/>
                    <li id="login">
                        <a href="/login/?next={{request.path}}">
                            <i class="material-icons">account_box</i> Log In
                        </a>
                    </li>
                    <li id="user">
                        <a href="{% url 'myprofile' %}">
                            <i class="material-icons">face</i> {{user}}
                        </a>
                    </li>
                    <li id="notification" class="dropdown-open">
                        <a class="hand" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
                           <i class="material-icons">textsms</i>
                            {% if notifications %}<b class="yellow" id="new1">new</b>
                            {% else %}<b class="yellow" id="new2">new</b>
                            {% endif %}
                            Notifications
                        </a>
                        {% if notifications %}
                         <ul class="dropdown-menu">
                            {% for notification in notifications %}
                            {% if notification.types == request %}
                            <li>
                                <a class="hand">
                                    <i class="material-icons">textsms</i>&nbsp{{notification.content}}&nbsp&nbsp&nbsp
                                    <div id="accept">
                                    <a href="{% url 'delete_notification_accept_group' notification.id %}">
                                    <button class="btn-primary">Accept</button>
                                    </a>
                 
                                    <a href="{% url 'delete_notification_decline_group' notification.id %}">
                                        &nbsp&nbsp<button class="btn-warning">Decline</button>
                                    </a>
                                    </div>
                                </a>
                            </li>
                            {% endif %}
                            {% if notification.types == response %}
                            <li>
                                <a class="hand"><i class="material-icons">textsms</i>&nbsp{{notification.content}}&nbsp&nbsp&nbsp
                                <div id="accept">
                                <a href="{% url 'delete_notification_decline_group' notification.id %}">
                                    &nbsp&nbsp<button class="btn-warning">OK</button>
                                </a>
                                </div>
                                </a>
                            </li>
                            {% endif %}
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </li>
                    <li class="dropdown-open" id="settings">
                        <a class="hand" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
                            <i class="material-icons">account_box</i>
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="{% url 'setting' %}"><i class="material-icons">settings</i> Settings</a></li>
                            <li><a href="{% url 'password' %}"><i class="material-icons">lock</i> Change Password</a></li>
                            <li class="divider"></li>
                            <li><a href="/login/?next={{request.path}}"><i class="material-icons">fast_forward</i> Sign Out</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="wrapper">
        <div class="header header-filter"></div>
        <div class="main main-raised">
            <nav class="navbar navbar-primary">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#example-navbar-primary">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand">SportsLover Groups</a>
                    </div>

                    <div class="collapse navbar-collapse" id="example-navbar-primary">
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <a href="{% url 'search' %}">
                                    <i class="material-icons">account_balance</i>
                                    Home
                                </a>
                            </li>
                            <li>
                                <a href="javascript:createGroup()">
                                    <i class="material-icons">explore</i>
                                    Create your group
                                </a>
                            </li>
                            <li class="dropdown-open">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
                                    <i class="material-icons">date_range</i>Date
                                    <b class="caret"></b>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="javascript:selectMorning()">Morning Event</a></li>
                                    <li><a href="javascript:selectAfternoon()">Afternoon Event</a></li>
                                    <li><a href="javascript:selectEvening()">Evening Event</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-open">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
                                    <i class="material-icons">supervisor_account</i>Group Size
                                    <b class="caret"></b>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="javascript:selectBelowThree()">&nbsp<3 </a></li>
                                    <li><a href="javascript:selectThreeToFive()">&nbsp3-5 </a></li>
                                    <li><a href="javascript:selectFiveToTen()">&nbsp5-10 </a></li>
                                    <li><a href="javascript:selectTenToTwenty()">&nbsp10-20 </a></li>
                                    <li><a href="javascript:selectAboveTwenty()">&nbsp>20 </a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <div class="section">
                <div class="container">
                    <div class="row">
                        <div class="col-md-2">
                            <div class="fixed-section" data-spy="affix-top" data-offset-top="340">
                                <ul>
                                    {% for class in sportsclass %}
                                    <li><a class="hand" name="classes">{{class}}</a>
                                        <ol class="sublist" value="0" id="{{class}}">
                                            {% for item in sportsitem %}
                                                {% for label in item.label.all %}
                                                    {% if label == class %}
                                                        <li><a class="hand" name="items" id="{{item.item}}">{{item.item}}</a></li>
                                                    {% endif %}
                                                {% endfor %}
                                            {% endfor %}
                                        </ol>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-9">
                        <div id="tabel-create">
                            <div class='row-fluid'>
                            <div class='span12'>
                            <div class='box-content box-no-padding'>
                                <div class='responsive-table'>
                                <div class='scrollable-area'>
                                <p id="latest_time">{{latest_time}}</p>
                                <table class='data-table-column-filter table' id="dataTableTest">
                                <thead>
                                <tr>
                                    <th class="col-md-4 no-sort">Topics</th>
                                    <th>Sports</th>
                                    <th class="col-md-3">Place</th>
                                    <th>Size</th>
                                    <th>Start Date</th>
                                    <th>Cost</th>
                                </tr>
                                </thead>
                                <tbody id="tbody">
                                {% for group in groups|dictsortreversed:"time" %}
                                <tr>
                                    <td>
                                        <a href="javascript:checkGroup({{group.id}})">
                                            <p><b>{{group.subject}}</b></p>
                                        </a>
                                        <span class="post-info">by <a href="{% url 'profile' group.owner %}"> {{group.owner}} </a></span>
                                        <span class="post-info">&nbsp >> {{group.time|date:"Y-m-d H:i:s"}}</span>
                                    </td>
                                    <td name="sports">{{group.sportsitem}}&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</td>
                                    <td>
                                        <a href="{% url 'place_item' group.place.id %}">
                                            {{group.place}}
                                        </a>
                                    </td>
                                    <td name="size">{{group.size}}&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</td>
                                    <td name="time">{{group.date_begin|date:"Y-m-d H:i"}}</td>
                                    <td>{{group.cost}}$&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</td>            
                                </tr>
                                {% endfor %}
                                </tbody>
                                    <tfoot>
                                    <tr>
                                        <th class="tfoot-search">Search</th>
                                        <th class="tfoot-search">Search</th>
                                        <th class="tfoot-search">Search</th>
                                        <th class="tfoot-search">Search</th>
                                        <th class="tfoot-search">Search</th>
                                        <th class="tfoot-search">Search</th>
                                    </tr>
                                    </tfoot>
                                </table>
                                </div>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <form method="post" action="{% url 'group' %}" id="searchform">
        <input id="classsport" name="classsport" value="" />
        <input id="itemsport" name="itemsport" value="" />
     {% csrf_token %}
    </form>
    </div>
{% endblock %}