<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>SportsLover Change Password</title>
  <link href="/static/material-kit/css/bootstrap.min.css" rel="stylesheet" />
  <link href="/static/sportslover/css/create_group.css" rel="stylesheet">
</head>
<body>
<div class="col-sm-6 col-md-10 set">
  <div class="panel panel-default"> 
    <div class="panel-body">       
    <form enctype="multipart/form-data" class="form-horizontal" role="form" method="post">
      <h3 for="settings" id="setting">Password</h3>
      {% for field in form.visible_fields %}
        <div class="form-group"> 
          <label for="firstname" class="col-sm-2 control-label">{{field.label_tag}}</label> 
          <div class="col-sm-9"> 
            {{ field }}
          </div>
        </div>
      {% endfor %}
      <div class="form-group"> 
        <div class="col-sm-offset-2 col-sm-9"> 
          <button type="submit" class="btn btn-primary update">Update</button> 
        </div> 
      </div> 
      {% csrf_token %}
    </form>
</body>
</html>
